.navbar{ 
    background-color: rgba(10, 85, 224, 0.656);
    height: 50px;
    display: flex;
    justify-content: center; 
}
.navContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    color: white;
}
.logo{
    font-weight: 500;
}

.navButton{
    border: none;
    cursor: pointer;
    margin-left: 20px;
    padding: 5px 10px;
    color: rgba(10, 85, 224, 0.656);
    border-radius: 3px;
} 